<a href="https://colab.research.google.com/github/sangjinsu/recommendation-system/blob/main/1_movies.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.1.5'

# Read Data

In [7]:
movies = pd.read_csv('/content/drive/MyDrive/추천 시스템 입문반/data/ml-latest-small/movies.csv', index_col='movieId')

In [9]:
movies.shape

(9742, 2)

In [10]:
movies.head()

                                      title                                       genres
movieId
1                          Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
2                            Jumanji (1995)                   Adventure|Children|Fantasy
3                   Grumpier Old Men (1995)                               Comedy|Romance
4                  Waiting to Exhale (1995)                         Comedy|Drama|Romance
5        Father of the Bride Part II (1995)                                       Comedy

In [11]:
movies.tail()

                                             title                           genres
movieId
193581   Black Butler: Book of the Atlantic (2017)  Action|Animation|Comedy|Fantasy
193583                No Game No Life: Zero (2017)         Animation|Comedy|Fantasy
193585                                Flint (2017)                            Drama
193587         Bungo Stray Dogs: Dead Apple (2018)                 Action|Animation
193609         Andrew Dice Clay: Dice Rules (1991)                           Comedy

In [12]:
movies.columns

Index(['title', 'genres'], dtype='object')

# Save Data

In [14]:
movies.to_csv('/content/drive/MyDrive/추천 시스템 입문반/data/ml-latest-small/save_test.csv')