<a href="https://colab.research.google.com/github/sangjinsu/recommendation-system/blob/main/simple_recommedation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.1.5'

In [4]:
ratings = pd.read_pickle('/content/drive/MyDrive/추천 시스템 입문반/data/ml-latest-small/ratings_updated.p')

In [5]:
ratings

        userId  movieId  rating           timestamp
0            1        1     4.0 2000-07-30 18:45:03
1            1        3     4.0 2000-07-30 18:20:47
2            1        6     4.0 2000-07-30 18:37:04
3            1       47     5.0 2000-07-30 19:03:35
4            1       50     5.0 2000-07-30 18:48:51
...        ...      ...     ...                 ...
100831     610   166534     4.0 2017-05-03 21:53:22
100832     610   168248     5.0 2017-05-03 22:21:31
100833     610   168250     5.0 2017-05-08 19:50:47
100834     610   168252     5.0 2017-05-03 21:19:12
100835     610   170875     3.0 2017-05-03 21:20:15

[100836 rows x 4 columns]

## RMSE

In [10]:
rating_example = [[4, 3.5], [5, 5], [0.5, 1], [3, 5]]
rating_example = pd.DataFrame(rating_example, columns=['Actual', 'Predict'])

In [11]:
rating_example['error'] = rating_example['Actual'] - rating_example['Predict']

In [12]:
rating_example

   Actual  Predict  error
0     4.0      3.5    0.5
1     5.0      5.0    0.0
2     0.5      1.0   -0.5
3     3.0      5.0   -2.0

In [13]:
rating_example['squared error'] = rating_example['error'] ** 2

In [14]:
rating_example

   Actual  Predict  error  squared error
0     4.0      3.5    0.5           0.25
1     5.0      5.0    0.0           0.00
2     0.5      1.0   -0.5           0.25
3     3.0      5.0   -2.0           4.00

In [17]:
mse = rating_example['squared error'].mean()

In [18]:
mse

1.125

In [19]:
import numpy as np

In [21]:
rmse = np.sqrt(mse)
print(rmse)

1.0606601717798212

### RMSE with sklearn

In [24]:
from sklearn.metrics import mean_squared_error

In [26]:
mean_squared_error(rating_example['Actual'], rating_example['Predict'])
rmse = np.sqrt(mse)
rmse

1.0606601717798212

## Train Test Split

In [27]:
from sklearn.model_selection import train_test_split

In [28]:
train, test = train_test_split(ratings, random_state=42, test_size=0.1)

In [30]:
print(train.shape)
print(test.shape)

(90752, 4)
(10084, 4)